@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.Blog {
    width: 92%;
    padding: 20px 0px 0px 30px;
    opacity: 0;
}

.Show {
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: forwards;
}

.Header {
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header div {
    margin: 5px;
}

.Search {
    outline: none;
    padding: 3px;
    font-family: inherit;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}

.Search:focus {
    outline: none;
    border: 1px solid #83bdf3;
    box-shadow: 0px 0px 7px #83bdf3;
}

.Content {
    box-sizing: border-box;
    text-align: center;
}