@keyframes fadeIn {
    100% {
        opacity: 1;
    }
} 

.Projects {
    width: 100%;
    height: 100vh;
    padding-top: 35px;
    box-sizing: border-box;
    opacity: 0;
}

.Show {
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: forwards;
}

.Content {
    display: flex;
    flex-flow: column;
    align-items: center;
}